body {
    background-color: salmon;
}

.img {
    max-height: 300px;
    max-width: 300px;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:visited {
    color: purple;
    text-decoration: none;
}


html {
    background-color: gray;
}

h1 {
    background-color: gray;
}